data_dir = "/var/lib/vector/"

# Vector's API for introspection
[api]
enabled = true
address = "127.0.0.1:8686"

### Sources
# source from trackings logs
[sources.tracking_logs]
type         = "file"
include      = ["{{ VECTOR_SOURCE_TRACKING_FILE }}"]    # supports globbing
ignore_older = 86400                         # 1 day

### Transforms

# Parse tracking logs: extract time
[transforms.tracking]
type = "remap"
inputs = ["tracking_logs"]
# Time formats: https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html#specifiers
source = '''

message = .message
parsed_json, err_json = parse_json(message)
if err_json != null {
  log("Unable to parse JSON from tracking log message: " + err_json, level: "error")
  abort
}
time, err_timestamp = parse_timestamp(parsed_json.time, "%+")
if err_timestamp != null {
  log("Unable to parse timestamp from tracking log message: " + err_timestamp, level: "error")
  abort
}
. = {"time": time, "message": message}
'''
drop_on_error = true
drop_on_abort = true

[transforms.tracking_debug]
type = "remap"
inputs = ["tracking"]
# Time formats: https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html#specifiers
source = '''
.message = parse_json!(.message)
'''

### Sinks

# Log all events to stdout, for debugging
[sinks.out]
type = "console"
inputs = ["tracking_debug"]
encoding.codec = "json"
encoding.only_fields = ["time", "message.context.course_id", "message.context.user_id", "message.name"]
target = "stdout"

[sinks.s3]
type = "aws_s3"
inputs = ["tracking"]
bucket = "{{ VECTOR_AWS_STORAGE_BUCKET_NAME }}"
auth.access_key_id = "{{ VECTOR_AWS_ACCESS_KEY_ID }}"
auth.secret_access_key = "{{ VECTOR_AWS_SECRET_ACCESS_KEY }}"
key_prefix = "vector_logs/date=%F/%H:%M/"
compression = "none"
# content_encoding = "gzip"
encoding.codec = "json"
region = "{{ VECTOR_S3_REGION }}"


# # # Send logs to clickhouse
[sinks.clickhouse]
type = "clickhouse"
# Required: https://github.com/timberio/vector/issues/5797
encoding.timestamp_format = "unix"
inputs = ["tracking"]
endpoint = "{{ VECTOR_SINK_CLICKHOUSE_ENDPOINT }}"
database = "openedx"
table = "_tracking"
healthcheck = true
